header{
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--fondo);
  z-index: 100;
  height: var(--altura_header);
  flex-wrap: wrap;
  align-items: center;
}

  .img_logo{
    position: relative;
    display: block;
    order: 1;
    left: var(--altura_menu);
    height: 100%;
    margin-left: 5px;
    border-radius: 50%;
  }
  .img_logo img{
    height: 100%;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    width: 65%;
    /*margin-left: var(--altura_menu);*/
    
  }

    .header_h1 {
      position: relative;
      font-size: 1em;
      margin:0;
      text-align: center;
      padding: 5px;
    }


    header p {
      position: relative;
      font-size: 0.75em;
      margin: 0;
      flex: 1 0 auto;
    }

  /*Navegación*/
  .menu {
    position: absolute;
    z-index: 100;
    background-color: var(--fondo);
    height: var(--altura_menu);
    width: var(--altura_menu);
  }

    /*Menu hamburger*/
    /*Posición general de la imagen hamburger*/
    .menu input[type="checkbox"], .menu img{
      position: absolute;
      margin: 0;
      padding: 0 ;
      top: 0;
      left: 0;
      height: var(--altura_menu);
      width: var(--altura_menu);
      background-color: var(--fondo);
    }

    .menu input[type="checkbox"] {
      opacity: 0;
    }

    .menu img {
      pointer-events: none;
    }

    .menu nav {
      left: var(--altura_menu);
      position: relative;
      z-index: 100;
      padding-left: 10%;
      width: 5em;
      background-color: var(--fondo_menu);
    }

    .menu ul{
      margin: 0;
      padding: 0;
      position: relative;
      background-color: var(--fondo_menu);
      list-style: none;
    }

    .menu li{
      margin-bottom: 5px;
    }

    .menu input:checked ~ nav{
      display: block;
    }

    .menu input:not(:checked) ~ nav{
      display: none;
    }

    .menu a{
      display: inline-block;
      text-decoration: none;
      font-size: 1.2em;
    }



  @media only screen and (min-width:600px){
    header{
      height: 300px;
      flex-direction: column;
    }

    .titulo {
      order: 1;
      width: 100%;
      margin:0;
    }
    .titulo h1{
      font-size: 1.5em;
    }
    .titulo p{
      font-size: 1em;
    }

    .img_logo {
      order: 3;
      height: 200px;
      align-self: center;
      justify-self: center;
    }

    .menu {
      position: relative;
      width: 100%;
      order: 2;
    }

    .menu input[type="checkbox"], .menu img {
      display: none;
    }

    .menu input:not(:checked) ~ nav {
      display: inline-block;
      left: 0;
      padding: 0;
      width: 100%;
    }
    
    .menu nav {
      width: 100%;
    }
    .menu > nav > ul {
      display: flex;
      justify-content: space-around;
    }
  }