header{
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--fondo);
  z-index: 100;
  height: var(--altura_header);
  flex-wrap: wrap;
  align-items: center;
}

  .img_logo{
    position: relative;
    display: block;
    left: var(--altura_menu);
    height: 100%;
    margin-left: 5px;
  }

  .titulo {
    position: relative;
    flex: 1 0 auto;
    width: 40%;
    margin-left: var(--altura_menu);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_h1 {
    position: relative;
    font-size: 1em;
    margin:0;
    text-align: center;
    flex: 1 0 auto;
    padding: 5px;
  }

  header p {
    position: relative;
    font-size: 0.75em;
    margin: 0;
    flex: 1 0 auto;
  }

  /*Navegación*/
  .menu {
    position: absolute;
    z-index: 100;
    background-color: var(--fondo);
    height: var(--altura_menu);
    width: var(--altura_menu);
  }

    /*Menu hamburger*/
    /*Posición general de la imagen hamburger*/
    .menu input[type="checkbox"], .menu img{
      position: absolute;
      margin: 0;
      padding: 0 ;
      top: 0;
      left: 0;
      height: var(--altura_menu);
      width: var(--altura_menu);
      background-color: var(--fondo);
    }

    .menu input[type="checkbox"] {
      opacity: 0;
    }

    .menu img {
      pointer-events: none;
    }

    .menu nav {
      left: var(--altura_menu);
      position: relative;
      z-index: 100;
      padding-left: 10%;
      width: 5em;
      background-color: var(--fondo_menu);
    }

    .menu ul{
      margin: 0;
      padding: 0;
      position: relative;
      background-color: var(--fondo_menu);
      list-style: none;
    }

    .menu li{
      margin-bottom: 5px;
    }

    .menu input:checked ~ nav{
      display: block;
    }

    .menu input:not(:checked) ~ nav{
      display: none;
    }

    .menu a{
      display: inline-block;
      text-decoration: none;
      font-size: 1.2em;
    }