header{
  position:-webkit-sticky;
  position: sticky;
  top: 0;
  min-width: var(--anchura_min_header);
  height: var(--altura_header);
  min-height: var(--altura_min_header);
  background-color: var(--fondo);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
}

  .img_logo{
    position: relative;
    display: block;
    order: 1;
    left: var(--altura_menu);
    height: 85%;
    margin-left: 5px;
    border-radius: 50%;
  }
  .img_logo img{
    height: 100%;
  }

  .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    width: 65%;    
  }

    .header_h1 {
      position: relative;
      font-size: 1rem;
      margin:0;
      text-align: center;
      padding: 5px;
    }


    .titulo em {
      position: relative;
      font-size: 0.70rem;
      margin: 0;
    }

  /*Navegación*/
  .menu {
    position: absolute;
    z-index: 100;
    height: var(--altura_menu);
    width: var(--altura_menu);
  }
  
    .max-dimensions-menu {
      max-width: var(--altura_menu_max);
      max-height: var(--altura_menu_max);
    }
    .min-dimensions-menu {
      min-width: var(--altura_menu_min);
      min-height: var(--altura_menu_min);
    }

    /*Menu hamburger*/
    /*Posición general de la imagen hamburger*/
    .menu input[type="checkbox"], .menu img{
      position: absolute;
      margin: 0;
      padding: 0 ;
      top: 0;
      left: 0;
      height: var(--altura_menu);
      width: var(--altura_menu);
      background-color: var(--fondo);
    }

    .menu input[type="checkbox"] {
      opacity: 0;
    }

    .menu img {
      pointer-events: none;
    }

    .menu nav {
      left: var(--altura_menu);
      position: relative;
      z-index: 100;
      padding-left: 10%;
      width: 7rem;
      background-color: var(--fondo_menu);
    }

    .menu ul{
      padding: 5px;
      position: relative;
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    .menu li{
      padding: 30px 0;
    }

    .menu input:checked ~ nav{
      display: block;
    }

    .menu input:not(:checked) ~ nav{
      display: none;
    }

    .menu a{
      display: inline-block;
      text-decoration: none;
      font-size: 1.2rem;
    }

  @media only screen and (min-width:425px){
    .img_logo{
      height: 80%;
    }
    
    .header_h1{
      font-size: 1.2rem;
    }
    
    .titulo em{
      font-size: 1rem;
    }
  }

  @media only screen and (min-width:640px){  
    :root{
      --altura_header: 15vw;
    }
    
    .titulo{
      width: 75%;
    }

    .header_h1{
      font-size: 1.5rem;
    }
    
    .titulo em{
      font-size: 1.2rem;
    }
  }
  
  @media only screen and (min-width:768px){
    :root{
      --altura_header: 20vw;
    }
    header{
      flex-direction: row;
      align-content: center;
    }
    
    .img_logo {
      position: relative;
      left: 0;
      order: 1;
      height: 80%;
      margin: 0;
    }

    .titulo {
      order: 2;
      margin:0;
      width: 80%;
    }
    .header_h1{
      font-size: 2rem;
    }
    .titulo em{
      font-size: 1.5rem;
    }


    .menu {
      position: relative;
      width: 75%;
      order: 3;
      min-width: auto;
      min-height: auto;
      max-width: none;
      margin-left: auto;
    }

    .menu nav {
      --fondo_menu:#2c040088;
      width: 100%;
    }

    .menu input[type="checkbox"], .menu img {
      display: none;
    }

    .menu input:not(:checked) ~ nav,
    .menu input:checked ~ nav {
      display: inline-block;
      left: 0;
      padding: 0;
    }
    
    .menu > nav > ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .menu li {
      padding: 0;
    }
  }

  @media only screen and (min-width:1024px) {
    :root{
      --altura_header: 15vw;
    }
    .header_h1{
      font-size: 2.3rem;
    }
    .titulo em{
      font-size: 1.8rem;
    }

    a{
      transition: color 0.3s linear;
    }
    a:hover {
     color: var(--enlace_resaltado);
    }
  }