/*header, main, footer {
  position: relative;
  right: 0;
  top: var(--altura_menu);
  margin: 0;
  align-items: center;
}

/*MAIN*/
main {
  position:relative;
  right: 0;
}

.contenedor1{
  border: 2px solid;
  border-color: aqua;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contenedor1 p{
  border: 1px solid;
  border-color: red;
}

  /*Formulario*/
  .form_Label{
    display: none;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="tel"],
  form textarea {
    background-color: var(--fondo_menu);
    border-color: var(--enlace_resaltado);
    border-radius: 8px;
  }
  form input[type="text"]::placeholder,
  form input[type="email"]::placeholder,
  form input[type="tel"]::placeholder,
  form textarea::placeholder {
    color: var(--enlace_resaltado);
  }
  form input[type="submit"] {
    background-color: var(--fondo_menu);
    color: var(--enlace_resaltado);
    border-color: var(--enlace_visitado);
    border-radius: 8px;
  }
  form input[type="submit"]:hover {
    background-color: var(--enlace_resaltado);
    color: var(--fondo_menu);
    border-color: var(--enlace_visitado);
  }

/*Footer y redes sociales*/

footer{
  position: relative;
  bottom: 0;
}
.enlace_rrss, .enlace_rrss>li {
  list-style: none;
  display: inline;
  padding: 1em;
}
.enlace_rrss img {
  height: 2em;
}


/*
DATOS PARA VERISÓN WEB, CON TAMAÑOS MÁS GRANDES
--altura_menu: 3em
--altura_logo: 6em
h1: 2em
*/