main{
  position: relative;
  max-width: 1024px;
  margin: auto;
}

section{
  margin-bottom: 10px;
}

.separator {
  display: block;
  height: var(--altura_header);
  width: 100%;
  background-color: var(--fondo);
}
.separator > .cont-links {
  padding: 15%;
}

/*Carousel*/
.cont-carousel {
  width: 100%;
}

.cont-slides {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 60vh;
}

.slide {
  width: 100%;
  height: 100%;
  background-color: var(--fondo_menu);
}
.slide em{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.slide em~a, .slide img{
  width: 100%;
}

.cont-links{
  display: flex;
  justify-content: center;
}

.carousel-links{
  display: block;
  height: 10px;
  width: 10px;
  background-color: var(--enlace);
  border-radius: 50%;
  margin: 10px;
}

/*Skills*/
.all-skills-cont{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-cont{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.skill-cont em {
  width: 100%;
  margin-bottom: 3px;
}

.skill{
  border: 1px solid var(--enlace_resaltado);
  width: 50%;
  height: 1rem;
}

@keyframes git-complet {
  0% {width: 0%;}
  100% {
    width: 95%;
  }
}
.git-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: git-complet 3s ease-in 1s 1 normal forwards;
}
@keyframes html-complet {
  0% {width: 0%;}
  100% {
    width: 90%;
  }
}
.html-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: html-complet 3s ease-in 4s 1 normal forwards;
}
@keyframes css-complet {
  0% {width: 0%;}
  100% {
    width: 95%;
  }
}
.css-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: css-complet 3s ease-in 7s 1 normal forwards;
}
@keyframes js-complet {
  0% {width: 0%;}
  100% {
    width: 60%;
  }
}
.js-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: js-complet 3s ease-in 10s 1 normal forwards;
}
@keyframes mysql-complet {
  0% {width: 0%;}
  100% {
    width: 95%;
  }
}
.mysql-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: mysql-complet 3s ease-in 13s 1 normal forwards;
}
@keyframes mongo-complet {
  0% {width: 0%;}
  100% {
    width: 70%;
  }
}
.mongo-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: mongo-complet 3s ease-in 16s 1 normal forwards;
}
@keyframes node-complet {
  0% {width: 0%;}
  100% {
    width: 20%;
  }
}
.node-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: node-complet 3s ease-in 19s 1 normal forwards;
}
@keyframes react-complet {
  0% {width: 0%;}
  100% {
    width: 30%;
  }
}
.react-complet{
  height: 100%;
  width: 0%;
  background-color: var(--enlace);
  animation: react-complet 3s ease-in 22s 1 alternate forwards;
}

/*Formulario*/
.form_Label{
  display: none;
}
.form input{
  color: var(--caracter);
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea
 {
  background-color: var(--fondo_menu) !important;
  border-color: var(--enlace_resaltado);
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
  color: inherit !important;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"]{
  height: 2rem;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form textarea:focus {
  background-color: var(--fondo);
  border-color: var(--enlace_visitado);
  color: inherit;
}
form input[type="text"]::placeholder,
form input[type="email"]::placeholder,
form input[type="tel"]::placeholder,
form textarea::placeholder {
  color: var(--enlace_resaltado);
  font-weight: 200;
  font-style: italic;
}

fieldset{
  border: 2px dotted var(--enlace_visitado);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.2rem;
}
fieldset div{
  margin-bottom: 10px;
}
fieldset input[type="radio"] {
  appearance: none;
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: black;
  border: 1px solid var(--enlace_resaltado);
  margin-right: 10px;
}
fieldset input[type="radio"]:hover,
fieldset input[type="radio"]:checked
 {
  background-color: var(--enlace_resaltado);
}

form input[type="submit"] {
  background-color: var(--enlace_resaltado);
  color: var(--fondo_menu);
  border-color: var(--enlace_visitado);
  border-radius: 8px;
}




@media only screen and (min-width:640px) {
  /*Skills*/
  .all-skills-cont {
    flex-direction: row;
  }
  .skill-cont{
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
    align-items: baseline;
  }
  .skill-cont em {
    width: 50%;
    margin-bottom: 0;
  }

  /*Form*/
  .form_Label{
    display: block;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width:768px) {
  /*Carousel*/
  .cont-slides {
    height: 80vh;
  }
  .carousel-links {
    height: 20px;
    width: 20px;
  }

  /*Skilss*/
  .skill{
    height: 1.2rem;
  }
  .skill-cont em {
    font-size: 1.5rem;
  }

  /*Form*/
  .name-surname,
  .mail-tel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .name-surname > .form_Label,
  .mail-tel > .form_Label {
    display: inline-block;
    width: 16%;
  }

  .name-surname input[type="text"]{
    width: 30%;
  }
  .name-surname #nombre{
    margin-right: 10px;
  }
  .mail-tel input[type="email"]{
    width: 60%;
    margin-right: 10px;
  }
  .mail-tel input[type="tel"]{
    width: 23%;
  }
  .tag{
    display: flex;
    align-items: baseline;
  }
  .tag > .form_Label{
    width: 20%;
  }
  div label ~ #tag{
    width: 45%;
  }

}

@media only screen and (min-width:1024px) {
  /*Form*/
  form {
    font-size: 1.2rem;
  }
  fieldset {
    width: 50%;
  }

  div #tag ~ label{
    width: 20%;
  }

  form input[type="submit"] {
    background-color: var(--fondo_menu);
    color: var(--enlace_resaltado);
    border-color: var(--enlace_visitado);
    border-radius: 8px;
  }
  form input[type="submit"]:hover {
    background-color: var(--enlace_resaltado);
    color: var(--fondo_menu);
    border-color: var(--enlace_visitado);
  }
}