:root{
  /*Paleta*/
  --dark-sienna: #2c0400ff;
  --xiketic: #1e0200ff;
  --orange-yellow: #f6bb24ff;
  --windsor-tan: #b35b0bff;
  --black: #020000ff;
  --rosso-corsa: #c72805ff;
  --selective-yellow: #f5b207ff;

  --fondo: #020000ff;
  --fondo_menu: #2c0400ff;
  --caracter: #f6bb24ff;
  --enlace: #b35b0bff;
  --enlace_visitado: #c72805ff;
  --enlace_resaltado: #f5b207ff;

  font-family: 'Nunito', sans-serif;

  scroll-behavior: smooth;

  /*Variables principales*/
  --padding_basico: 8px;

    /*Header*/
    --altura_header: 25vw; /*5rem;*/
    --altura_min_header: 76px;
    --anchura_header: 100vw;
    --anchura_min_header: 306px;
    --altura_menu: 10vw; /*2rem 3em*/
    --altura_menu_min: 30px;
    --altura_menu_max: 40px;
    --altura_logo: 4rem; /*6em*/


    
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--fondo);
  color: var(--caracter);
  margin: 0px;
  padding: 0 var(--padding_basico) var(--padding_basico) var(--padding_basico);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--enlace);
}

a:visited {
  color: var(--enlace_visitado);
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: 700;
}

em {
  font-style: italic;
}

.padding_basico {
  padding: var(--padding_basico);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 100px var(--fondo-menu) inset !important;
    box-shadow: 0 0 0 100px var(--fondo-menu) inset !important;
    color: var(--enlace_visitado);
  }
  
  input:-webkit-autofill{
    -webkit-text-fill-color: var(--enlace_visitado) !important;
  }
