/*HEADER*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 22vw;
  z-index: 100;
  background-color: var(--fondo);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
header a{
  display: block;
}
.return{
  display: inline-block;
  position: relative;
  top: 1rem;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  border-left: 4px solid var(--enlace);
  border-bottom: 4px solid var(--enlace);
  transform: rotate(45deg);
}
header>div{
  text-align: center;
  margin-left: auto;
  width: 80%;
}
.header_h1 {
  position: relative;
  font-size: 1rem;
  margin:0;
  padding: 5px;
}

main{
  position: relative;
  margin: auto;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  /*grid-template-rows: 40vh 40vh;*/
  grid-template-areas: 
    "video-enter"
    "proyect-container"
  ;
  justify-content: space-between;
}

.video-enter{
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}
.video-enter>video{
  width: 100%;
}

.proyect-container{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "proyect proyect"
    "proyect proyect"
    "proyect proyect"
    "proyect proyect"
  ;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  text-align: center;
  
}
.proyect{
  padding: var(--padding_basico);
  border: 1px solid var(--enlace_visitado);
  overflow: scroll;
}
.proyect em, .proyect p{
  display: block;
  margin-bottom: 8px;
}
.proyect img{
  margin: auto;
  width: 90%;
}


@media only screen and (min-width:425px) {
  /*Header*/

  .header_h1 {
    font-size: 1.5rem;
  }
  header em {
    font-size: 1.2 rem;
  }
}

@media only screen and (min-width:640px) {
  /*Header*/
  header {
    height: 16vw;
  }
  .header_h1 {
    font-size: 1.75rem;
  }
  header em {
    font-size: 1.5rem;
  }

  /*Main*/
  .video-enter{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .proyect-container{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas:
      "proyect proyect proyect"
      "proyect proyect proyect"
      "proyect proyect proyect"
    ;
  }
  .proyect{
    overflow: hidden;
  }
}

@media only screen and (min-width:768px) {
  header {
    height: 10vw;
  }
  .video-enter{
    width: 70%;
  }
}


@media only screen and (min-width:1024px) {
  /*Header*/
  header {
    height: 8vw;
  }
  /*Main*/
  main{
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
  }
  .video-enter{
    width: 40%;
    height: 40vh;
  }
  .proyect-container{
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
        "proyect proyect proyect proyect"
        "proyect proyect proyect proyect"
    ;
    justify-content: space-between;
  }
}

@media only screen and (min-width:1440px) {
  .video-enter{
    width: 30%;
    height: 30vh;
  }
}